@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


@layer utilities {
  .loader {
    --c: no-repeat linear-gradient(#4338ca 0 0); 
    background: 
      var(--c) 0% 50%,
      var(--c) 25% 50%,
      var(--c) 50% 50%,
      var(--c) 75% 50%,
      var(--c) 100% 50%;
    background-size: 10% 100%;
    animation: l1 1s infinite linear;
  }

  @keyframes l1 {
    0%  {background-size: 10% 100%, 10% 100%, 10% 100%, 10% 100%, 10% 100%;}
    20% {background-size: 10% 10%,  10% 100%, 10% 100%, 10% 100%, 10% 100%;}
    40% {background-size: 10% 100%, 10% 10%,  10% 100%, 10% 100%, 10% 100%;}
    60% {background-size: 10% 100%, 10% 100%, 10% 10%,  10% 100%, 10% 100%;}
    80% {background-size: 10% 100%, 10% 100%, 10% 100%, 10% 10%,  10% 100%;}
    100%{background-size: 10% 100%, 10% 100%, 10% 100%, 10% 100%, 10% 100%;}
  }
}

:root {
  --vh: 100vh;
}

.pt-safe {
  padding-top: max(env(safe-area-inset-top), calc(var(--vh, 1vh) * 0.07 + 40px));
}

@supports (-webkit-touch-callout: none) {
  .pt-safe {
    padding-top: max(env(safe-area-inset-top), calc(var(--vh, 1vh) * 0.07 + 60px));
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  }
  
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  }
